<h3 class="subtitle">Features</h3>
<ul>
  <li>Full double - kegerator. {% include icon-github.html username="rick" %} acquired this beauty from a brewmaster friend who coincidentally also brings by tasty homebrews. We lovingly created a tap handle out of his head with modeling software {% include icon-github.html username="azizshamim" %} gathered up, and superimposed it on an existing tap handle. Concept to finished product: ~5 hours (includes printing time).</li>
  <li>10-foot farm table. Lovingly suppled by {% include icon-github.html username="jameswhite" %}, this custom-made farm table can seat 10, complete with power 🔌 for every person. Early beta-testing shows this is ideal for hacking, drinking 🍻, or playing board games.</li>
  <li>Philips Hue bulbs in every lamp and window. Currently wired up for a few uses, such as turning orange when someone is in a meeting. More importantly, Disco Mode!</li>
  <li>65" Plasma TV for epic beer:30 talks, gaming, or other tomfoolery to be had during the week(-end). (hat tip jameswhite for our epic stand holding up the TV)</li>
  <li>Raspberry Pi's everywhere! Check out <a href="{{ site.webcams_url }}">our dashboards</a> that show various metrics/data about the Bikeshed.</li>
  <li>We also have cameras to check out what's going on in the office from anywhere!</li>
</ul>
