<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-5">
        <ul class="contact-list">
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a></li>
        </ul>
      </div>
      <div class="column is-5">
        <ul class="social-media-list has-text-right">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username text="Visit us on GitHub" %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
