<header class="header site-header">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third is-offset-2">
        <a class="title" href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
        {% if page.title %}
          <a class="title" href="{{ page.url | prepend: site.baseurl }}">
            <span class="separator">/</span>
            {{ page.title }}
          </a>
        {% endif %}
      </div>
      <div class="column is-one-third has-text-right">
        <nav class="site-nav">
          {% for my_page in site.pages %}
            {% if my_page.title %}
              <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
          <a class="page-link" href="{{ site.webcams_url }}">Webcams</a>
        </nav>
      </div>
    </div>
  </div>
</header>
