<header class="header site-header">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-10">
        <nav class="nav">
          <div class="nav-left">
            <a class="nav-item title" href="{{ site.baseurl }}/">
              {{ site.title }}
            </a>
            {% if page.title %}
              <a class="nav-item title" href="{{ page.url | prepend: site.baseurl }}">
                <span class="separator">/</span>
                {{ page.title }}
              </a>
            {% endif %}
          </div>
          <a class="nav-toggle" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <div class="nav-right nav-menu">
            {% for my_page in site.pages %}
              {% if my_page.title %}
                <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% endif %}
            {% endfor %}
            <a class="nav-item" href="{{ site.webcams_url }}">Webcams</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
