<p>Our goal is simple: we are technologists that are and want to continue to be
involved with the local community. With the ample hack space that we currently
have (in-office viking table, shared coworking space), we have room to host
meetup groups, hack nights, Nashville Software School study sessions, etc.</p>

<p>We have room to host ~25-35 people without breaking a sweat, which is difficult to find in general in Nashville. On top of that, we try to capture a bit of the GitHub spirit combined with the BNA team to have a place that reflects a nice place to want to work.</p>

<p>We are located at 530 Church St, Suite 400a, Nashville, TN, 37219</p>

<p><img src="{{ site.baseurl }}/images/map.png" alt="Map of the Bikeshed" width="521" height="268"></p>
