<div class="columns">
  <div class="column is-offset-1 is-5">
    <div class="main-intro-text">
      <p class="goal">Our goal is simple: we are technologists that are and want to
      continue to be involved with the local community. With the ample hack space
      that we currently have &mdash; in-office viking table, shared coworking space
      &mdash; we have room to host meetup groups, hack nights, Nashville Software
      School study sessions, etc.</p>

      <p>We have room to host ~25-35 people without breaking a sweat, which is difficult to find in general in Nashville. On top of that, we try to capture a bit of the GitHub spirit combined with the BNA team to have a place that reflects a nice place to want to work.</p>

      <p>If you're ever in Nashville, know that you have a space to hack, friends to 🍺 with, and of course, that <a href="https://en.wikipedia.org/wiki/Hot_chicken"><span title="hot chicken">🔥&nbsp;🐔</span></a> and 🌆&nbsp;🎵 to soothe your soul.</p>
    </div>
  </div>
  <div class="column is-5">
    <div class="card map-card">
      <div class="card-image">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3221.234030142934!2d-86.78283438471612!3d36.16085928008509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88646658b74a6113%3A0xe176df6b2a4b0cba!2s611+Commerce+St%2C+Nashville%2C+TN+37203!5e0!3m2!1sen!2sus!4v1507408141524" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="card-content">
        We are located at:<br>
        <a href="https://www.google.com/maps/place/611+Commerce+St,+Nashville,+TN+37203/@36.1608593,-86.7828344,17z/data=!3m1!4b1!4m5!3m4!1s0x88646658b74a6113:0xe176df6b2a4b0cba!8m2!3d36.1608593!4d-86.7806457">611 Commerce St, Suite 2611<br>Nashville, TN, 37203</a>
      </div>
    </div>
  </div>
</div>
