<div class="content">
  <p>Our goal is simple: we are technologists that are and want to continue to be
  involved with the local community. With the ample hack space that we currently
  have (in-office viking table, shared coworking space), we have room to host
  meetup groups, hack nights, Nashville Software School study sessions, etc.</p>

  <p>We have room to host ~25-35 people without breaking a sweat, which is difficult to find in general in Nashville. On top of that, we try to capture a bit of the GitHub spirit combined with the BNA team to have a place that reflects a nice place to want to work.</p>

  <p>If you're ever in Nashville, know that you have a space to hack, friends to 🍺 with, and of course, that <a href="https://en.wikipedia.org/wiki/Hot_chicken"><span title="hot chicken">🔥&nbsp;🐔</span></a> and 🌆&nbsp;🎵 to soothe your soul.</p>

  <p>We are located at <a href="https://www.google.com/maps/place/530+Church+St+%23400a,+Nashville,+TN+37219/@36.1628687,-86.7835471,17z/data=!3m1!4b1!4m5!3m4!1s0x8864665887aed1c1:0x6eb1daa914b4203f!8m2!3d36.1628644!4d-86.7813584">530 Church St, Suite 400a, Nashville, TN, 37219</a>:</p>

  <p><a href="https://www.google.com/maps/place/530+Church+St+%23400a,+Nashville,+TN+37219/@36.1628687,-86.7835471,17z/data=!3m1!4b1!4m5!3m4!1s0x8864665887aed1c1:0x6eb1daa914b4203f!8m2!3d36.1628644!4d-86.7813584"><img src="{{ site.baseurl }}/images/map.png" alt="Map of the Bikeshed" width="521" height="268"></a></p>
</div>
