<div class="tile">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p>When you arrive, you are greeted with some wonderful signage.</p>
      <p><a class="photo-link" href="/images/github-door.jpeg"><img alt="Photo of Bikeshed door with GitHub logo" src="/images/github-door-thumb.jpg"></a></p>
      Hat tip 🎩
      {% include icon-github.html username="jameswhite" suffix="'s" %}
      brother who made these vinyl stickers out of our public media assets
    </div>
  </div>

  <div class="tile is-parent">
    <div class="tile is-child box">
      <p>Complete with conference room:</p>
      <a class="photo-link" href="/images/conference-room.jpeg"><img alt="Photo of the conference room with table and chairs" src="/images/conference-room-thumb.jpg"></a>
    </div>
  </div>
</div>

<div class="tile is-parent">
  <div class="tile is-child box">
    <p>Doorway into our space.</p>
    <a class="photo-link" href="/images/octocat-door.jpeg"><img alt="Photo of a solid door with a GitHub octocat sticker on it" src="/images/octocat-door-thumb.jpg"></a>
  </div>
</div>

<div class="tile is-vertical is-8">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p>...which opens up into the common area of the coworking space.</p>
      <a class="photo-link" href="/images/coworking-pano.jpeg"><img alt="Panorama photo of the Bikeshed coworking area" src="/images/coworking-pano-thumb.jpg"></a>
    </div>
  </div>

  <div class="tile is-parent">
    <div class="tile is-child box">
      <p>The Bikeshed's main work area:</p>
      <a class="photo-link" href="/images/desk-space.jpeg"><img alt="Panoramic photo of the main Bikeshed space with desks, table, bike, and computers" src="/images/desk-space-thumb.jpg"></a>
    </div>
  </div>
</div>

<div class="tile">
  <div class="tile is-vertical">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p>Our giant table that seats ten:</p>
        <a class="photo-link" href="/images/table.jpeg"><img alt="The big wooden plank table at the Bikeshed" src="/images/table-thumb.jpg"></a>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child box">
        <p>The table has power plugs lining it:</p>
        <a class="photo-link" href="/images/table-power.jpeg"><img alt="Photo of the power outlets lining the underside of the giant table" src="/images/table-power-thumb.jpg"></a>
      </div>
    </div>
  </div>

  <div class="tile is-parent">
    <div class="tile is-child box">
      <p>Double tap kegerator:</p>
      <a class="photo-link" href="/images/keg.jpeg"><img alt="Photo of a double tap kegerator" src="/images/keg-thumb.jpg"></a>
    </div>
  </div>
</div>

<div class="tile is-parent">
  <div class="tile is-child box">
    <p>A typical work day:</p>
    <a class="photo-link" href="/images/dudes-at-work.jpeg"><img alt="Photo of four guys seated at desks, at work in the Bikeshed" src="/images/dudes-at-work-thumb.jpg"></a>
  </div>
</div>

<div class="tile">
  <div class="tile is-vertical">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p>Wall-mounted displays with Raspberry Pi's:</p>
        <a class="photo-link" href="/images/wall-displays.jpeg"><img alt="Photo of wall-mounted tablet displays" src="/images/wall-displays-thumb.jpg"></a>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child box">
        <p>Traditional printer, MakerBot 3D printer, Keurig coffee maker:</p>
        <a class="photo-link" href="/images/printers.jpeg"><img alt="Photo of printer, MakerBot 3D printer, Keurig, and foosball table" src="/images/printers-thumb.jpg"></a>
      </div>
    </div>
  </div>

  <div class="tile">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p>Using the giant table to play games:</p>
        <a class="photo-link" href="/images/playing-games.jpeg"><img alt="Photo of several people standing around the large table playing a tabletop game" src="/images/playing-games.jpeg"></a>
      </div>
    </div>
  </div>
</div>

<div class="tile is-parent">
  <div class="tile is-child box">
    <p>Only nine people are shown, but the table can definitely seat more:</p>
    <a class="photo-link" href="/images/more-dudes-working.jpeg"><img alt="Photo of more guys working around the large table with laptops" src="/images/more-dudes-working.jpeg"></a>
  </div>
</div>
